body {
    margin: 0;
}
h1 {
    margin-top: 0;
    background-color: pink;
    padding: 10px;
    text-align: center;
}

img {
    border: 4px dashed lightskyblue;
    padding: 10px;
    margin: 15px;
}

p {
    text-align: center;
    border: 5px solid plum;
    padding: 20px;
    margin: 15px;
}

.main{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
}