body{
    background-color: mediumturquoise;
}

h1{
    color: white;
}

ol{
    display: flex;
    background-color: white;
    padding: 15px 25px 15px 45px;
    /* width: 200px; */
    border: 5px solid pink;
}

ul{
    display: flex;
    flex-direction: column-reverse;
}

.main{
    display: flex;
    flex-direction: column;
}

.Item{
    color: palevioletred;
    /* font-size: 20px; */
}