.main {
	/* height: 100vh; */
	/* width: 100vw; */
	background-color: rgb(224, 224, 224);
	display: flex;
	margin: -10px;
	font-family: 'Montserrat', 'Arial';
}

#menu {
	margin: 0 25px;
}

#menu > #title {
	margin: 40px 0;
}

#big-square {
	height: 770px;
	min-width: 770px;
	max-width: 770px;
	background-color: #d2d2d2;
	/* display: flex; */
}

.little-square {
	width: 70px;
	height: 70px;
	position: absolute;
	flex-wrap: wrap;
	border-radius: 18px;
	border: 2px solid white;
	transition: 0.3s;
	transform: scale(1);
}

.little-square:hover {
	transform: scale(1.1);
	z-index: 1;
	cursor: pointer;
}

.little-square-selected {
	width: 70px;
	height: 70px;
	position: absolute;
	flex-wrap: wrap;
	border-radius: 18px;
	border: 2px solid white;
	transition: 0.3s;
	transform: scale(1.1);
	z-index: 1;
}

#buttons {
	display: flex;
	width: 275px;
	justify-content: space-between;
	margin: 40px 0;
}

#buttons button {
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: #ffa9bf;
	width: 130px;
	font-family: 'Montserrat', 'Arial';
}

#buttons button#reset {
	background-color: #ffa9bf5d;
}

#buttons button:hover {
	box-shadow: 0 0 10px #b6b6b6;
	cursor: pointer;
}

@media (max-width: 1080px) {
	#buttons {
		flex-direction: column;
		width: fit-content;
		height: 80px;
	}
}

@media (max-width: 1000px) {
	.main {
		flex-direction: column;
        background: linear-gradient(
            180deg,
            rgba(224, 224, 224, 1) 0%,
            rgba(224, 224, 224, 1) 80%,
            rgba(255, 255, 255, 1) 100%
        );
	}

	#big-square {
		height: 970px;
		min-width: 970px;
		max-width: 970px;
	}
	.little-square {
		width: 90px;
		height: 90px;
		border-radius: 18px;
	}

	.little-square-selected {
		width: 90px;
		height: 90px;
		border-radius: 18px;
	}

	#menu > #title {
		font-size: 72px;
	}

	#menu h2 {
		font-size: 48px;
	}

	#menu p {
		font-size: 36px;
	}

	#buttons {
		font-size: 36px;
		width: 630px;
		flex-direction: row;
	}

	#buttons button {
		font-size: 30px;
		width: 300px;
		height: fit-content;
	}
}
